<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        {% load static %}
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Link Analyzer</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
        <style>
            .table thead>tr>th {
                background: #333333 !important;
                color: white !important;
            }
        </style>
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
              <a class="navbar-brand" href="#">Link Analyzer</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Features</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Pricing</a>
                  </li>
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Dropdown link
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                      <li><a class="dropdown-item" href="#">Action</a></li>
                      <li><a class="dropdown-item" href="#">Another action</a></li>
                      <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                  </li>
                </ul>
              </div>
            </div>
          </nav>
        <div class="container">
            <header class="pb-3 mb-4">
                <span class="fs-4">Amazon Product Link Analzyer</span>
              </header>
            <form class="row g-3" id="form-link-analyze" action="" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="input-group col-12">
                    <span class="input-group-text" id="basic-addon1"><i class="fa-brands fa-amazon"></i></span>
                    <input type="text" class="form-control" id="txt-url" name="txt-url" placeholder="URL" required>
                </div>
                <div class="col-12">
                    <button type="submit" class="btn btn-primary" id="btn-submit-form" name="btn-submit-form">Analyze</button>
                </div>
            </form>
            <div class="row">
                <div class="col-md-12">
                </div>
            </div>
            {% if title %}
            <div class=" col-12" style="margin-top: 5%;padding: 0;">
                <div class="header-bold"><h3>
                    Details &amp; Recommendations
                </h3></div>
                <!--<Product Title>-->
                <div class="  col-12 mobile-padding-none" id="titleId" style="padding-top: 20px;">
                    <div class=" col-lg-4 col-md-5 col-12">
                        <h5 class="Bold">Product Title<span style="float: right;">{% widthratio title|length 210 100 %}/100</span></h5>
                        <div class="progress progress-radius-bg mb-3">
                            <div class="progress-bar bg-success" role="progressbar" aria-valuenow="{% widthratio title|length 210 100 %}" aria-valuemin="0" aria-valuemax="100"  style="width:{% widthratio title|length 210 100  %}%">
                            </div>
                        </div>
                    </div>
                    <div class="  col-12">
                        <div class="col-12 " style="overflow-x: auto; padding: 0;">
                            <table class="table table-striped lxrtool-table " style="min-width: 500px !important;">
                                <thead> <tr><th class="text-left lxrm-bold recommended-width">Title Length</th><th class="text-left lxrm-bold">Recommended</th><th class="text-left lxrm-bold">Improvements Tips</th></tr></thead>
                                <tbody>
                                    <tr>
                                        <td class="col-2">
                                            <span>{{ title|length }}</span>
                                        </td>
                                        <td class="col-2">190-210</td>
                                        <td class="col-8 col-lg-8">
                                            <span>{{ title }}</span>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <!--<Product Description>-->
                <div class="  col-12 mobile-padding-none" id="descriptionId" style="padding-top: 20px;">
                    <div class=" col-lg-4 col-md-5 col-12">
                        <h5 class="Bold">Product Description<span style="float: right;">
                            {% if description|length > 1900 %}
                            100/100
                            {% else %}
                            {% widthratio description|length 1900 100 %}/100
                            {% endif %}
                        </span></h5>
                        <div class="progress progress-radius-bg  mb-3">
                            {% if description == "NA" %}
                            <div class="progress-bar bg-danger" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"  style="width:100%"></div>
                            {% else %}
                            <div class="progress-bar bg-success" role="progressbar" aria-valuenow="{% widthratio description|length 1900 100 %}" aria-valuemin="0" aria-valuemax="100"  style="width:{% widthratio description|length 1900 100  %}%"></div>
                            {% endif %}
                        </div>
                        </div>
                    <div class="  col-12">
                        <div class="col-12 " style="overflow-x: auto; padding: 0;">
                            <table class="table table-striped lxrtool-table " style="min-width: 500px !important;">
                                <thead> <tr><th class="text-left lxrm-bold recommended-width">Description Length</th><th class="text-left lxrm-bold">Recommended</th><th class="text-left lxrm-bold">Improvements Tips</th></tr></thead>
                                <tbody>
                                    <tr>
                                        <td class="col-2">
                                            <span>
                                                {% if description  == "NA" %} 
                                                0 
                                                {% else %}
                                                {{ description|length }}
                                                {% endif %}
                                            </span>
                                        </td>
                                        <td class="col-2">1900-2100</td>
                                        <td class="col-8 col-lg-8">
                                            <span>
                                                {% if description  == "NA" %} 
                                                Improve your searchability in the Amazon by including more text in Product Description as per recommended length. Additionally, this will help your customers understand about the product. You may see increased impressions and conversion rate if you let Amazon and your customers know more about your product.
                                                {% else %}
                                                {{ description }}
                                                {% endif %}
                                            </span>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>   
                <!--<Product Features>-->
                <div class="  col-12 mobile-padding-none" id="feaduresId" style="padding-top: 20px;">
                    <div class=" col-lg-4 col-md-5 col-12">
                        <h5 class="Bold">Product Features<span style="float: right;">
                            {% if features|length >= 5 %}
                            100/100
                            {% else %}
                            {% widthratio features|length 5 100 %}/100
                            {% endif %}
                        </span></h5>
                        <div class="progress progress-radius-bg  mb-3">
                            <div class="progress-bar bg-success" role="progressbar" aria-valuenow="{% widthratio features|length 5 100 %}" aria-valuemin="0" aria-valuemax="100"  style="width:{% widthratio features|length 5 100  %}%">
                            </div>
                        </div>
                    </div>
                    <div class="  col-12">
                        <div class="col-12 " style="overflow-x: auto; padding: 0;">
                            <table class="table table-striped lxrtool-table " style="min-width: 500px !important;">
                                <thead> <tr><th class="text-left lxrm-bold recommended-width">Total Features</th><th class="text-left lxrm-bold">Recommended</th><th class="text-left lxrm-bold">Improvements Tips</th></tr></thead>
                                <tbody>
                                    <tr>
                                        <td class="col-2">
                                            <span>{{ features|length }}</span>
                                        </td>
                                        <td class="col-2">5 & above</td>
                                        <td class="col-8 col-lg-8">
                                            <span>
                                                <ul>
                                                {% for feature in features %}
                                                <li>{{ feature }}</li>
                                                {% endfor %}
                                                </ul>
                                            </span>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <!--<Product Images>-->
                <div class="  col-12 mobile-padding-none" id="imagesId" style="padding-top: 20px;">
                    <div class=" col-lg-4 col-md-5 col-12">
                        <h5 class="Bold">Product Images<span style="float: right;">
                            {% if images >= 6 %}
                            100/100
                            {% else %}
                            {% widthratio images 6 100 %}/100
                            {% endif %}
                        </span></h5>
                        <div class="progress progress-radius-bg  mb-3">
                            <div class="progress-bar bg-success" role="progressbar" aria-valuenow="{% widthratio images 6 100 %}" aria-valuemin="0" aria-valuemax="100"  style="width:{% widthratio images 6 100  %}%">
                            </div>
                        </div>
                    </div>
                    <div class="  col-12">
                        <div class="col-12 " style="overflow-x: auto; padding: 0;">
                            <table class="table table-striped lxrtool-table " style="min-width: 500px !important;">
                                <thead> <tr><th class="text-left lxrm-bold recommended-width">Total Images / Videos</th><th class="text-left lxrm-bold">Recommended</th><th class="text-left lxrm-bold">Improvements Tips</th></tr></thead>
                                <tbody>
                                    <tr>
                                        <td class="col-2">
                                            <span>Images: {{ images }}, Videos: {{ videos }}</span>
                                        </td>
                                        <td class="col-2">8+image(s)</td>
                                        <td class="col-8 col-lg-8">
                                            <span>
                                                Take the full advantage of one of the most important aspects of your product listing. You can add more images of your product from different views and possibly a video that helps customers understand the product better.
                                            </span>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <!--<Product Ratings>-->
                <div class="  col-12 mobile-padding-none" id="ratingsId" style="padding-top: 20px;">
                    <div class=" col-lg-4 col-md-5 col-12">
                        <h5 class="Bold">Product Ratings<span style="float: right;">
                            {% if ratings|length >= 4.5 %}
                            100/100
                            {% else %}
                            {% widthratio ratings 5 100 %}/100
                            {% endif %}
                        </span></h5>
                        <div class="progress progress-radius-bg  mb-3">
                            <div class="progress-bar bg-success" role="progressbar" aria-valuenow="{% widthratio ratings 5 100 %}" aria-valuemin="0" aria-valuemax="100"  style="width:{% widthratio ratings 5 100  %}%">
                            </div>
                        </div>
                    </div>
                    <div class="  col-12">
                        <div class="col-12 " style="overflow-x: auto; padding: 0;">
                            <table class="table table-striped lxrtool-table " style="min-width: 500px !important;">
                                <thead> <tr><th class="text-left lxrm-bold recommended-width">Product Ratings</th><th class="text-left lxrm-bold">Recommended</th><th class="text-left lxrm-bold">Improvements Tips</th></tr></thead>
                                <tbody>
                                    <tr>
                                        <td class="col-2">
                                            <span>{{ ratings }}</span>
                                        </td>
                                        <td class="col-2">4.5 & above</td>
                                        <td class="col-8 col-lg-8">
                                            <span>
                                                Ratings can add confidence about the product to the potential customers. Encourage your customers to provide their ratings.
                                            </span>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}
        </div>
        <script src="https://code.jquery.com/jquery-3.6.3.min.js" integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU=" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
        <script src="{% static 'js/custom-script.js' %}"></script>
    </body>
</html>